{% extends "wiki/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username or password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'wiki:login' %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="mb-3">
            <div class="form-label">{{ form.username.label_tag }}</div>
            <div>{{ form.username }}</div>
        </div>
        <div class="mb-3">
            <div class="form-label">{{ form.password.label_tag }}</div>
            <div>{{ form.password }}</div>
        </div>
    </div>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}