{% extends "wiki/base.html" %}
{% load markdownify %}

{% block title %}{{ object.title }}{% endblock title %}

{% block detail %}
    {% if user.is_authenticated %}
        <a style="margin: 5px" href="{% url 'wiki:edit-view' page.slug %}" class="btn btn-primary">Edit</a>
        <a style="margin: 5px" href="{% url 'wiki:delete_page' page.slug %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <h1>{{ object.title }}</h1>
    <hr>
    {% comment %} <p>{{ object.content}}</p> {% endcomment %}
    {% comment %} <p>{{ object.content | markdownify }}</p> {% endcomment %}
    {{ object.content | markdownify }}
    {% if object.image %}
        <img src="{{ object.image.url }}">
    {% endif %}
{% endblock detail %}